html, body {
    width: 100%;
    height: 100%;
    background-color: #26282A;
}

.header {
    width: 100%;
    background: #1c1c1c;
    text-align: center;
    border-bottom: 5px solid #006BB6;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.header h1 {
    color: #FDB927;
    padding-top: 25px;
    font-size: 50px;
}

.center {
    width: 100%;
    height: 100%;
    text-align: center;
}

.buttons {
    width: 100%;
    display: inline-block;
}

.styled {
    margin:7px;
    background-color: #FDB927;
    border-radius: 5px;
    height: 30px;
    color: #006BB6;
    font-weight: bold;
    border-color: #006BB6;
}

.styled:hover {
    box-shadow: 0px 0px 10px 1px #006BB6;
}

img {
    margin:7px;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

#add{
    margin-bottom: 10px;
}
